<footer>
    <nav class="store">
      <h4 class="title">Tienda</h4>
      <ul>
          <a href="https://adalab.es">
              <li class="item">Productos</li>
          </a>
          <a href="https://adalab.es">
              <li class="item">Cajoneras</li>
          </a>
          <a href="https://adalab.es">
              <li class="item">Para toda la casa</li>
          </a>
          <a href="https://adalab.es">
              <li class="item">Habitaciones</li>
          </a>
      </ul>
    </nav>

    <nav class="us">
        <h4 class="title">Nosotros</h4>
      <ul>
          <a href="https://adalab.es">
              <li class="item">Nuestra guía</li>
          </a>
          <a href="https://adalab.es">
              <li class="item">Nuestro diseño</li>
          </a>
          <a href="https://adalab.es">
              <li class="item">Nuestra historia</li>
          </a>
          <a href="https://adalab.es">
              <li class="item">Ayuda</li>
          </a>
      </ul>
    </nav>

    <nav class="contact">
        <h4 class="title">Contacto</h4>
      <ul>
          <li class="item">ayuda@openspaces.com</li>
          <li class="item">Socios</li>
      </ul>
    </nav>
    
    <div class="socialmedia">
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
    </div>
  </footer>