<section class="spaces">
    <h2 class="spaces__title">Volverse organizado se siente mejor con <span class="uppercase">open spaces</span></h2>
    
    <div class="benefit">
      <img class="benefit__icon" src="./assets/images/icon_1.png" alt="Icono de mesa" title="Lo que necesitas">
      <h3 class="benefit__title">Lo que necesitas</h3>
      <p class="benefit__description">Una línea de productos diseñada para todos tus espacios</p>
    </div>
    
    <div class="benefit">
      <img class="benefit__icon" src="./assets/images/icon_2.png" alt="Icono de bolsa" title="Materias primas">
      <h3 class="benefit__title">Materias primas sustentables</h3>
      <p class="benefit__description">Todos los productos con materias primas sustentables</p>
    </div>

    <div class="benefit">
      <img class="benefit__icon" src="./assets/images/icon_3.png" alt="Icono de guía" title="Guía">
      <h3 class="benefit__title">Guía</h3>
      <p class="benefit__description">Soporte y asesoramiento para ayudarte con tu objetivo</p>
    </div>
  </section>