.delivery{
    background-color: $orange;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon{
        width: 120px;
        height: 120px;
        margin-top: 46px;   
    }

    &__title{
        font-size: 24px;
        font-weight: 600;
        margin-top: 10px;
        padding: 5px;
    }

    &__text{
        font-size: 14px;
        padding: 14px;
        padding-bottom: 30px;
    }

    &__link-container{
        margin: 5px 0 63px 0;
    }

    &__link{
        color: white;
        font-size: 16px;
        padding: 12px 24px 12px 24px;
        text-decoration: underline;
    }
}