.delivery{
    background-color: $orange;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon{
        width: 120px;
        height: 120px;
        margin-top: 46px;  
       
        @media all and (min-width: 900px) {
            order: 0;
        }

        @media all and (min-width: 1728px) {
            margin-top: 61px;
        } 
    }

    &__title{
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 10px;
        padding: 5px;

        @media all and (min-width: 900px) {
            font-size: 1.875rem;
            order: 2;
        }

        @media all and (min-width: 1728px) {
            font-size: 2.25rem;
        }
    }

    &__text{
        font-size: 0.875rem;
        padding: 14px;
        padding-bottom: 30px;
        margin-bottom: 20px;

        @media all and (min-width: 900px) {
            order: 1;
        }

        @media all and (min-width: 1728px) {
            font-size: 1rem;
        }
    }

    &__link-container{
        margin: 5px 0 63px 0;
        
        @media all and (min-width: 900px) {
            order: 3;
        }

        @media all and (min-width: 1728px) {
            margin-bottom: 78px;
        }
    }

    
    &__link{
        background-color: $darkGreen;
        color: #fff;
        font-weight: 600;
        font-size: 1rem;
        padding: 12px 24px;
        text-transform: capitalize;
        

        
        
    }
}