.footer{
    color: $lightGreen;
    background-color: $darkGreen;
    display: flex;
    justify-content: center;
    position: relative;
}

.footer-container{
    display: flex;
    flex-direction: column;
    line-height: normal;
    margin-right: 50px;
    margin-left: 140px;
    width: 208px;

    @media all and (min-width: 900px) {
        flex-direction: row;
        justify-content: center;
        margin-top: 71px;
        margin-bottom: 74px;
        margin-right: 0;
        margin-left: 0;
        width: 0;
        gap: 20px;

        @media all and (min-width: 1728px) {
            margin: 131px 352px 131px 352px;
        }
    }

    @media all and (min-width: 1728px) {
        gap: 200px;
    }

    &__store{
        padding-bottom: 5px;
        margin: 56px 0 10px 0;

        @media all and (min-width: 900px) {
            margin: 0;
            min-width: 208px;
        }
    }

    &__us{
        padding-bottom: 5px;
        margin: 10px 0 10px 0;

        @media all and (min-width: 900px) {
            margin: 0;
            min-width: 208px;
        }
    }

    &__contact{
        margin: 10px 0 56px 0;

        @media all and (min-width: 900px) {
            margin: 0;
            min-width: 208px;
        }
    }
}

.socialmedia{
        margin-top: 12px;
        display: flex;
        gap: 5px;
        padding-bottom: 5px;
    }

.footer .fa-brands{
    height: 26px;
    width: 24px;
}

.footer a{
    text-decoration: none;
    color: $lightGreen;
    padding: 5px auto;
}

.footer .title{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
    padding-top: 2px;
    width: 208px;

    @media all and (min-width: 1728px) {
        font-size: 24px;
    }
}

.footer .item{
    font-size: 14px;
    line-height: 20px;
    width: 208px;

    @media all and (min-width: 1728px) {
        font-size: 16px;
    }
}

.footer .fa-arrow-up{
    position: absolute;
    height: 24px;
    width: 24px;
    right: 28px;
    bottom: 16px;
    color: white;

    @media all and (min-width: 900px) {
        right: 57px;
        bottom: 89px;
    }

    @media all and (min-width: 1728px) {
        right: 187px;
        bottom: 138px;
    }
}

