.header{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 389px;

  &__logo{
    margin-top: 19px;
    width: 213px;
    height: 96px;
  }

  &__title{
    color: $darkGreen;
    font-size: 24px;
    margin: 62px 0px;
    font-weight: 600;
  }

  &__button{
    background-color: $darkGreen;
    height: 48px;
    width: 176px;
    border: none;
    padding: 0;
    &:hover{
      background-color: $lightGreen;
    }
  }

  &__link{
    color: #fff;
    font-weight: 600;
    padding: 12px 24px;
    text-transform: capitalize;
    &:hover{
      color: $darkGreen;
    }
  }
}

.fa-bars{
  position: fixed;
  left: 33px;
  top: 55px;
  color: $darkGreen;
  width: 24px;
  height: 24px;
}