.header{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;

  @media all and (min-width: 1728px){
    align-items: flex-start;
  }

  &__nav{
    @media all and (min-width: 1728px){
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 39px;
      color: $darkGreen;
      height: 96px;
      margin-left: 270px;  
    }
  }

  &__logo{
    margin-top: 19px;
    width: 213px;
    height: 96px;

    @media all and (min-width: 900px){
      margin-top: 39px;
    }

    @media all and (min-width: 1728px){
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

.menu{
  display: none;
  
  @media all and (min-width: 1728px){
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start;
    font-size: 1rem;
    }
  
    &__link{
      color: $darkGreen;
      padding: 10px;
    }
  }
  
.fa-bars{
  position: fixed;
  left: 33px;
  top: 55px;
  color: $darkGreen;
  width: 24px;
  height: 24px;

  @media all and (min-width: 900px) {
    left: 82px;
    top: 75px;
  }

  @media all and (min-width: 1728px){
    display: none;
  }
}

.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media all and (min-width: 900px){
    align-self: flex-start;
    margin-left: 147px;
  }

  @media all and (min-width: 1728px){
    margin-left: 280px;
  }

  &__title{
    color: $darkGreen;
    font-size: 1.5rem;
    margin-top: 20vh;
    padding: 5px;
    font-weight: 600;

    @media all and (min-width: 900px){
      margin-bottom: 12px;
      font-size: 2.25rem;
      width: 430px;
      height: 112px;
      line-height: 50px;
      padding: 0;
    }  
  }

  &__button{
    background-color: $darkGreen;
    font-size: 1rem;
    height: 48px;
    width: 176px;
    border: none;
    padding: 0;
    margin-top: 62px;
    &:hover{
      background-color: $lightGreen;
      }
  
    @media all and (min-width: 900px){
      align-self: flex-start;
      margin-top: 8px;
      }
    }
  
  &__link{
    color: #fff;
    font-weight: 600;
    padding: 12px 24px;
    text-transform: capitalize;
    &:hover{
      color: $darkGreen;
      }
    }
  }
