.spaces{
    width: 100vw;
    background-color: $lightGrey;
    color: $darkGreen;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

    @media all and (min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__title{
        margin: 41px 47px 37px 45px;
        font-size: 24px;
        font-weight: 600;
        line-height: normal;

        @media all and (min-width: 900px) {
            grid-column: 1 / 4;         
            width: 535px;
            margin: 41px auto 37px auto;
            }

        @media all and (min-width: 1728px) {
            font-size: 36px;
            width: 799px;
            margin: 70px auto 60px auto;
            }
        }
    }

.product, .eco, .support{
    margin-left: 103px;
    margin-right: 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;

    @media all and (min-width: 900px) {
        margin: auto;
        justify-content: flex-start;
    }
}

.eco{
    @media all and (min-width: 900px) {
        margin-top: 20px;
    }
}

.product{
    &__icon{
        width: 90px;
        height: 90px;
        margin-bottom: 47px;

        @media all and (min-width: 1728px) {
        margin-bottom: 20px;
        }
    }

    &__title{
        font-size: 20px;
        margin-bottom: 5px;
        padding: 5px;
        
        @media all and (min-width: 1728px) {
            font-size: 24px;
        }
    }

    &__description{
        width: 208px;
        height: 96px;
        margin-bottom: 40.5px;

        @media all and (min-width: 1728px) {
            margin-bottom: 128px;
        }
        
    }
}

.eco{
    &__icon{
        width: 90px;
        height: 90px;
        margin-bottom: 42px;

        @media all and (min-width: 1728px) {
        margin-bottom: 20px;
        }
    }

    &__title{
        font-size: 20px;
        margin-bottom: 5px;
        padding: 5px;

        @media all and (min-width: 900px) {
            width: 291px;
        }

        @media all and (min-width: 1728px) {
            font-size: 24px;
        }
        
    }

    &__description{
        width: 208px;
        height: 96px;
        margin-bottom: 40px;

        @media all and (min-width: 1728px) {
            margin-bottom: 128px;
        }
    }
}
    
.support{
    &__icon{
        width: 73.5px;
        height: 90px;
        margin-bottom: 37px;

        @media all and (min-width: 1728px) {
        margin-bottom: 20px;
        }
    }

    &__title{
        font-size: 20px;
        margin-bottom: 5px;
        padding: 5px;

        @media all and (min-width: 1728px) {
            font-size: 24px;
        }
    }

    &__description{
        width: 208px;
        height: 96px;
        margin-bottom: 18px;

        @media all and (min-width: 900px) {
            margin-bottom: 40px;
        }

        @media all and (min-width: 1728px) {
            margin-bottom: 128px;
        }
    }
}

.uppercase{
    text-transform: uppercase;
}