.spaces{
    width: 100vw;
    background-color: $lightGrey;
    color: $darkGreen;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
 
    &__title{
        margin: 41px 47px 37px 45px;
        font-size: 24px;
        font-weight: 600;
        line-height: normal;
    }
}

.product, .eco, .support{
    margin-left: 103px;
    margin-right: 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
}

.product{
    &__icon{
        width: 90px;
        height: 90px;
        margin-bottom: 47px;
    }

    &__title{
        font-size: 20px;
        margin-bottom: 5px;
        padding: 5px;
    }

    &__description{
        width: 208px;
        height: 96px;
        margin-bottom: 40.5px;
        
    }
}

.eco{
    &__icon{
        width: 90px;
        height: 90px;
        margin-bottom: 42px;
    }

    &__title{
        font-size: 20px;
        margin-bottom: 5px;
        padding: 5px;
        
    }

    &__description{
        width: 208px;
        height: 96px;
        margin-bottom: 40px;
    }
}
    
.support{
    &__icon{
        width: 73.5px;
        height: 90px;
        margin-bottom: 37px;
    }

    &__title{
        font-size: 20px;
        margin-bottom: 5px;
        padding: 5px;
    }

    &__description{
        width: 208px;
        height: 96px;
        margin-bottom: 18px;
    }
}

.uppercase{
    text-transform: uppercase;
}